@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}


:root {
  /*BACKGROUND COLORS*/
  --bg-color-1: #fff;
  --bg-color-2: #4285f4;
  --bg-color-3: #FBFBFB;
  --bg-color-4: #F4F8FF;
  /*TEXT COLORS*/
  --text-color-1: #fff;
  --text-color-2: #707070;
  --text-color-3: #4285f4;
  --text-color-4: #B9B7AD;
  --text-color-5: #000;
}