header {
    padding-top: 2rem;



    .header-container {
        position: relative;

        .header-row-1 {
            height: 60px;
            align-items: center;
            transition: all 0.5s;

            .logo {
                display: flex;
                align-items: center;

                .logo-inner {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 25px;
                    cursor: pointer;
                    color: $maintext5;

                    p {
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                }
            }

            .menu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 20px;

                ul {
                    display: flex;
                    column-gap: 25px;
                    align-items: center;
                    margin-bottom: 0;

                    li {
                        font-size: 16px;

                        .menu-item {
                            text-decoration: none;
                            color: $maintext5;
                        }
                    }
                }

                .language {
                    width: max-content;
                    cursor: pointer;
                    position: relative;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    .language-submenu {
                        width: 90px;
                        height: 90px;
                        position: absolute;
                        padding-top: 5px;
                        display: none;

                        button {
                            border: none;
                            background: transparent;
                        }
                    }

                    &:hover {
                        .language-submenu {
                            display: block;
                        }
                    }

                }

                .login-btn {
                    width: 100px;
                    height: 35px;
                    border-radius: 20px;
                    background-color: $mainbg;
                    border: none;
                    color: $maintext;
                    font-size: 16px;
                }

                .login-1{
                    background-color: $maintext;
                    color: $mainbg;
                    border: 1px solid $mainbg;
                }

                .burger-menu {
                    width: max-content;
                    font-size: 20px;
                    cursor: pointer;
                    display: none;
                }
            }
        }
    }


    .site-description {
        height: 90vh;

        .left-side {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding-top: 4rem;

            h1 {
                font-size: 45px;
                text-align: left;
                font-weight: 900;
            }

            p{
                color: $maintext2;
                font-size: 18px;
            }

            button {
                width: 150px;
                height: 50px;
                border-radius: 25px;
                border: none;
                background-color: $mainbg;
                color: $maintext;
                font-size: 18px;

                &:hover {
                    transition: all 0.5s;
                    transform: translateY(-5px);
                }
            }
        }

        .right-side {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 90%;
                height: 90%;
            }
        }
    }
}




.active {
    font-weight: bold !important;
}


@media (max-width: 900px) {
    .menu {
        ul {
            display: none !important;
        }

        .burger-menu {
            display: block !important;
        }
    }

    .left-side {
        h1 {
            font-size: inherit !important;
        }
    }
}

@media (max-width:576px) {
    header {
        padding-top: 0;

        .logo {
            .logo-inner {
                font-size: inherit !important;
            }
        }

        .menu {
            column-gap: 10px !important;
        }

        .login-btn {
            width: 60px !important;
            height: 22px !important;
            font-size: 9px !important;
        }

        .site-description {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;

            .col-6 {
                width: 95%;
            }
        }
    }
}