.question-form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        outline: none;
        width: 600px;
        height: 64px;
        border-radius: 0 8px 8px 0;
        border: 1px solid $maintext4;
        border-left: none;
        font-size: 20px;
    }

    button {
        border-radius: 8px 0 0 8px;
        border: 1px solid $maintext4;
        height: 64px;
        width: 100px;
        border-right: none;
        background: $mainbg2;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.questions-content {
    margin-top: 3rem;
    .border-content {
        width: 80%;
        padding: 40px;
        border-radius: 10px;
        border: 1px solid $maintext4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;

        details {
            width: 100%;
            border-bottom: 1px solid $maintext4;
            cursor: pointer;
            position: relative;

            summary {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 40px;
                width: 90%;

                .plus {
                    position: absolute;
                    z-index: 2;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $maintext4;
                    right: 15px;
                    top: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 30px;
                }
            }

            .content-accordion {
                padding-bottom: 20px;
            }
        }
    }
}

.border-add {
    width: 80%;
    margin-top: 3rem;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid $maintext4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    form {
        .question-1 {
            display: flex;
            justify-content: center;
            column-gap: 25px;

            .inner-question {
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                input {
                    width: 470px;
                    height: 64px;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    background-color: $mainbg6;
                    font-size: 20px;
                    padding-left: 8px;
                }
            }
        }

        .send {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;

            button {
                border: none;
                background-color: $mainbg;
                color: $maintext;
                width: 155px;
                height: 56px;
                border-radius: 8px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width:900px) {
    .inner-question {
        input {
            width: 100% !important;
        }
    }
}

@media (max-width:576px) {
    .question-form {
        input {
            width: 90%;
            height: 50px !important;
        }

        button {
            height: 50px !important;
        }
    }

    .border-content{
        width: 95% !important; 
        padding: 20px !important;
        .plus{
            top: 18px !important;
            right: -8px !important;
        }
    }

    .border-add{
        width: 95% !important;

        form{
            width: 100%;
            .question-1{
                flex-direction: column;
                width: 100% !important;
                .inner-question{
                    width: 100% !important;
                    input{
                        width: 100% !important;
                    }
                }
            }

        }
    }
}